<!DOCTYPE html>
<html>
<head>
  <title>浪晋的测试小讲堂</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<!-- header -->
<div class="headers">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top ">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">
            <img src="https://static.runoob.com/images/mix/bird.jpg" alt="logo" style="width:40px;">
        </a>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav " style="font-size: 16px;">
                <li class="nav-item" style="">
                    <a class="nav-link " href="#" >首页</a>
                </li>
                <li class="nav-item" style="">
                    <a class="nav-link" href="#">职业发展</a>
                </li>
                <li class="nav-item" style="">
                    <a class="nav-link" href="#">课程学习</a>
                </li>
                <li class="nav-item" style="">
                    <a class="nav-link" href="#">就业前景</a>
                </li>
                <li class="nav-item" style="">
                    <a class="nav-link" href="#">关于我们</a>
                </li>
                <li class="nav-item" style="">
                    <a class="nav-link" href="#">登陆</a>
                    <!-- <button type="button" id="login" class="btn btn-primary">登录</button> -->
                </li>
                <li class="nav-item" style="">
                        <a class="nav-link" href="#">注册</a>
                    </li>
            </ul>
        </div>
    </nav>
</div>

<!-- body -->
<div class="body">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- 指示符 -->
        <ul class="carousel-indicators"></ul>
        <!-- 轮播图片 -->
        <div class="carousel-inner"></div>
        <!-- 左右切换按钮 -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

    <div id= "content" class="container content">
        <!-- 知识体系 -->
        <div id="zhishitixi" class="zhishitixi">
            <div class="zhishitixi_div1">知识体系</div>
            <div class="row zhishitixi_div2">
                <div class="col" >
                    <a href="#" class="card">
                        <img class="card-img-top" src="/images/a66df342-0de2-42ef-97f7-59baf80c3647.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title zhishitixi_div2_div_a_h4" >软件测试基础</h4>
                            <p class="card-text zhishitixi_div2_div_a_p" >初级  |  10节课  </p>
                        </div>
                    </a>    
                </div>
                <div class="col" >
                    <a href="#" class="card">
                        <img class="card-img-top" src="/images/574bd3c5-ada3-424c-a01e-e0dbc5c8e8ec.jpeg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title zhishitixi_div2_div_a_h4" >软件测试基础</h4>
                            <p class="card-text zhishitixi_div2_div_a_p">初级  |  10节课  </p>
                        </div>
                    </a>    
                </div>
                <div class="col" >
                    <a href="#" class="card">
                        <img class="card-img-top" src="/images/465454f3-fe4f-467d-a0fa-92790346f748.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title zhishitixi_div2_div_a_h4" >软件测试基础</h4>
                            <p class="card-text zhishitixi_div2_div_a_p">初级  |  10节课  </p>
                        </div>
                    </a>    
                </div>
                <div class="col" >
                    <a href="#" class="card">
                        <img class="card-img-top" src="/images/a7f094b8-cd4d-4708-9396-abf4d755b1d1.jpeg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title zhishitixi_div2_div_a_h4" >软件测试基础</h4>
                            <p class="card-text zhishitixi_div2_div_a_p">初级  |  10节课  </p>
                        </div>
                    </a>    
                </div>
            </div>
        </div>

        <!-- 职业发展 -->
        <div id="zhiyefazhan" class="zhiyefazhan">
                <div class="zhiyefazhan_div1">职业发展</div>
                <div class="row zhiyefazhan_div2" >
                        <div class="col" >
                            <a href="#" class="card zhiyefazhan_div2_div_a" style="text-decoration: none;">
                                        <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                                        <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                                        <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                            </a>
                        </div>
                        <div class="col" >
                            <a href="#" class="card zhiyefazhan_div2_div_a" style="text-decoration: none;">
                                        <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                                        <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                                        <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                            </a>
                        </div>
                        <div class="col" >
                            <a href="#" class="card zhiyefazhan_div2_div_a" style="text-decoration: none;">
                                        <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                                        <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                                        <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                            </a>
                        </div>
                        <div class="col" >
                            <a href="#" class="card zhiyefazhan_div2_div_a" style="text-decoration: none;">
                                        <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                                        <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                                        <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                            </a>
                        </div>
                        <div class="col" >
                            <a href="#" class="card zhiyefazhan_div2_div_a" style="text-decoration: none;">
                                        <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                                        <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                                        <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                            </a>
                        </div>
                        <div class="col" >
                            <a href="#" class="card zhiyefazhan_div2_div_a" style="text-decoration: none;">
                                        <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                                        <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                                        <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                            </a>
                        </div>
                        <div class="col" >
                            <a href="#" class="card zhiyefazhan_div2_div_a" style="text-decoration: none;">
                                        <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                                        <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                                        <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                            </a>
                        </div>
                        <div class="col" >
                            <a href="#" class="card zhiyefazhan_div2_div_a" style="text-decoration: none;">
                                        <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                                        <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                                        <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                            </a>
                        </div>
                        <div class="col" >
                            <a href="#" class="card zhiyefazhan_div2_div_a" style="text-decoration: none;">
                                        <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                                        <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                                        <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                            </a>
                        </div>
                        <div class="col" >
                            <a href="#" class="card zhiyefazhan_div2_div_a" style="text-decoration: none;">
                                        <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                                        <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                                        <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                            </a>
                        </div>
                </div>
        </div>
    </div>
</div>


<!-- footer -->
<div style="margin-top: 20px;  text-align:center; height: 80px;">

    <footer class="footer navbar-fixed-bottom " style="width: 1000px; margin: 0 auto; text-align: center;">
        <div style="margin-top:20px;">
                <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=feaddb8cd193c436a6842211d3315bd7c25d48cd16a0ec30afacdfa46bb8b7e7"><img border="0" src="/images/qq.ico" style="margin-right: 15px; width: 18px; "></a>
                <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=feaddb8cd193c436a6842211d3315bd7c25d48cd16a0ec30afacdfa46bb8b7e7"><img border="0" src="/images/weixin.ico" style="margin-right: 15px; width: 25px; "></a>
                <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=feaddb8cd193c436a6842211d3315bd7c25d48cd16a0ec30afacdfa46bb8b7e7"><img border="0" src="/images/weixin.ico" style="margin-right: 15px; width: 25px; "></a>
        </div>
        <div class="container" style="margin-top:15px;">
                <a href="#" style="font-size: 12px; padding: 4px 10px; color: #666; text-decoration: none;">关于我们</a>
                <i style="font-size: 12px; color: #E4E4E4;font-style: normal;">|</i>
                <a href="#" style="font-size: 12px; padding: 4px 10px; color: #666; text-decoration: none;">加入我们</a>
                <i style="font-size: 12px; color: #E4E4E4;font-style: normal;">|</i>
                <a href="#" style="font-size: 12px; padding: 4px 10px; color: #666; text-decoration: none;">企业合作</a>
                <i style="font-size: 12px; color: #E4E4E4;font-style: normal;">|</i>
                <a href="#" style="font-size: 12px; padding: 4px 10px; color: #666; text-decoration: none;">帮助中心</a>
                <i style="font-size: 12px; color: #E4E4E4;font-style: normal;">|</i>
                <a href="#" style="font-size: 12px; padding: 4px 10px; color: #666; text-decoration: none;">友情链接</a>
        </div>
        <hr style="height:1px;">
        <div style="color: #999; padding: 10px 0; font-size: 12px; ">
                Copyright © 2018-2019 langjintest.com All Rights Reserved. 川ICP备xxxxx号 川公网安备xxxxxx
        </div>

    </footer>

</div>

</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- 导入ajax.js -->
<script type="text/javascript" src="/js/ajax.js"></script>
</html>