<!DOCTYPE html>
<html>
<head>
  <title>浪晋的测试小讲堂</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
        <img src="https://static.runoob.com/images/mix/bird.jpg" alt="logo" style="width:40px;">
    </a>
    <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" href="#">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">职业发展</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">课程学习</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">就业前景</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">关于我们</a>
            </li>
            <li class="nav-item">
                <button type="button" id="login" class="btn btn-primary">登录</button>
            </li>
        </ul>
    </div>
</nav>


<div id="demo" class="carousel slide" data-ride="carousel">
    <!-- 指示符 -->
    <ul class="carousel-indicators"></ul>
    <!-- 轮播图片 -->
    <div class="carousel-inner"></div>
    <!-- 左右切换按钮 -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<div id= "content" class="container content">
    <!-- 知识体系 -->
    <div id="zhishitixi" class="zhishitixi">
        <div class="zhishitixi_div1">知识体系</div>
        <div class="row zhishitixi_div2">
            <div class="col" >
                <a href="#" class="card">
                    <img class="card-img-top" src="/images/a66df342-0de2-42ef-97f7-59baf80c3647.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                    <h4 class="card-title zhishitixi_div2_div_a_h4" >软件测试基础</h4>
                    <p class="card-text zhishitixi_div2_div_a_p" >初级  |  10节课  </p>
                    </div>
                </a>    
            </div>
            <div class="col" >
                <a href="#" class="card">
                    <img class="card-img-top" src="/images/574bd3c5-ada3-424c-a01e-e0dbc5c8e8ec.jpeg" alt="Card image" style="width:100%">
                    <div class="card-body">
                    <h4 class="card-title zhishitixi_div2_div_a_h4" >软件测试基础</h4>
                    <p class="card-text zhishitixi_div2_div_a_p" >初级  |  10节课  </p>
                    </div>
                </a>    
            </div>
            <div class="col" >
                <a href="#" class="card">
                    <img class="card-img-top" src="/images/465454f3-fe4f-467d-a0fa-92790346f748.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                    <h4 class="card-title zhishitixi_div2_div_a_h4" >软件测试基础</h4>
                    <p class="card-text zhishitixi_div2_div_a_p" >初级  |  10节课  </p>
                    </div>
                </a>    
            </div>
            <div class="col" >
                <a href="#" class="card">
                    <img class="card-img-top" src="/images/a7f094b8-cd4d-4708-9396-abf4d755b1d1.jpeg" alt="Card image" style="width:100%">
                    <div class="card-body">
                    <h4 class="card-title zhishitixi_div2_div_a_h4" >软件测试基础</h4>
                    <p class="card-text zhishitixi_div2_div_a_p" >初级  |  10节课  </p>
                    </div>
                </a>    
            </div>
           
        </div>
    </div>

    <!-- 职业发展 -->
    <div id="zhiyefazhan" class="zhiyefazhan">
            <div class="zhiyefazhan_div1">职业发展</div>
            <div class="row zhiyefazhan_div2" >
                    <div class="col" >
                        <a href="#" class="card zhiyefazhan_div2_div_a">
                                    <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                                    <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                                    <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                            </a>
                    </div>
                    <div class="col" >
                        <a href="#" class="card zhiyefazhan_div2_div_a">
                                    <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                                    <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                                    <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                            </a>
                    </div>
                    <div class="col" >
                        <a href="#" class="card zhiyefazhan_div2_div_a">
                                    <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                                    <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                                    <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                            </a>
                    </div>
                    <div class="col" >
                        <a href="#" class="card zhiyefazhan_div2_div_a">
                                    <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                                    <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                                    <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                            </a>
                    </div>
                    <div class="col" >
                        <a href="#" class="card zhiyefazhan_div2_div_a">
                                    <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                                    <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                                    <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                            </a>
                    </div>
                    <div class="col" >
                        <a href="#" class="card zhiyefazhan_div2_div_a">
                                    <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                                    <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                                    <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                            </a>
                    </div>
                    <div class="col" >
                        <a href="#" class="card zhiyefazhan_div2_div_a">
                                    <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                                    <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                                    <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                            </a>
                    </div>
                    <div class="col" >
                        <a href="#" class="card zhiyefazhan_div2_div_a">
                                    <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                                    <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                                    <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                            </a>
                    </div>
                    <div class="col" >
                        <a href="#" class="card zhiyefazhan_div2_div_a">
                                    <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                                    <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                                    <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                            </a>
                    </div>
                    <div class="col" >
                        <a href="#" class="card zhiyefazhan_div2_div_a">
                                    <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                                    <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                                    <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                            </a>
                    </div>
            </div>
    </div>


</div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- 导入ajax.js -->
<script type="text/javascript" src="/js/ajax.js"></script>
</html>