<!DOCTYPE html>
<html>
<head>
  <title>浪晋的测试小讲堂</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/index.css">
</head>
<body>
<div class="container">
    <p>浪晋的测试小讲堂</p>
    <div>
        <form>
            <div class="form-group">
              <label for="email">账号:</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="pwd">密码:</label>
              <input type="password" class="form-control" id="pwd">
            </div>
          </form>
    </div>
    <div><button type="submit" class="btn btn-primary">登陆</button></div>
</div>



</body>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
<!-- 导入ajax.js -->
<script type="text/javascript" src="js/ajax.js"></script>
</html>